$fa-font-path: "webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gray: #F8F8F8;
$btn-radius: 30px;
$function-radius: 20px;
$thumbnails-radius: 10px;
$num-radius: 100%;

/* */

html {
    font-family: 'Roboto', sans-serif;

}

#bloc_page {
  width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

/* Header */

header {
    padding: 15px 0px 10px;
      #logo {
        display: flex;
        width: auto;
        justify-content: center;
          img {
            height: 30px;
          }
      }
}

/* Bloc form*/

main section#bloc_form {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  justify-content: center;
    #search--responsive {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #F0F0F0;
      height: 50px;
      border: 0px solid #F0F0F0;
      box-shadow: inset 0px 4px 8px #888;
    }
      .geolocate{
      display: flex;
      border: 1px solid #F0F0F0;
      font-size: 0.9rem;
      background-color: #F0F0F0;
      margin-top: auto;
      margin-bottom: auto;
    }
      input {
        display: flex;
        border: 1px solid #F0F0F0;
        background-color: #F0F0F0;
        color: black;
        font-weight: normal;
        font-size: 0.8rem;
        width: 140px;
        height: 30px;
        align-self: center;
      }
      input::placeholder {
        display: flex;
        color: black;
        font-weight: normal;
        font-size: 1rem;
      }
      button.explorer{
        border-radius: $btn-radius;
        font-size: 1rem;
        width: 220px;
        height: 45px;
        color: white;
        background: linear-gradient($secondary-color, 55%, $primary-color);
        border: 0px solid $secondary-color;
      }
    #bloc_explorer{
      width: auto;
      text-align: center;
      background-color: $gray;
      height: 280px;
        h1 {
          display: flex;
          font-size: 1.4rem;
          width: 250px;
          margin-top: 35px;
          margin-bottom: 15px;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          display: flex;
          font-size: 1.1rem;
          font-size: 100;
          width: 350px;
          background-color: $gray;
          margin-top: 10px;
          margin-bottom: 30px;
          margin-left: auto;
          margin-right: auto;
        }
      }
}


@media screen and (min-width:320px) and (max-width: 767px) {
main section#bloc_form div#bloc_explorer form#search--desktop {
  display: none;
  }
}

h2{
  margin-left: 20px;
  margin-bottom: 20px;
}

main section#fonctionnement {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 60px;
    div#list--steps nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 40px;
    }
      li {
        display: flex;
        list-style: none;
        border-radius: $function-radius;
        font-size: 1rem;
        width: 300px;
        height: 70px;
        color: black;
        background: $gray;
        border: 0px solid $gray;
        margin: 10px 0px 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .1);
    }
      li.active {
        background-color: rgba($primary-color, 0.1);
      }
      li.active i {
        color: $primary-color;
      }
      i{
        font-size: 1.3rem;
        padding-bottom: 2px;
        color: gray;
        margin-right: 25px;
      }
      span.step {
        margin-left: 30px;
      }
      span.num {
        display: flex;
        position: absolute;
        left: 40px;
        font-size: 0.8rem;
        background-color: $primary-color;
        color: white;
        border-radius: $num-radius;
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
      }
}
main section#restaurants {
  margin-top: 60px;
  background-color: $gray;
    h2 {
      padding-top: 50px;
    }
    #list--restaurants {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: space-between;
      height: auto;
      padding-bottom: 55px;
    }
      div.restaurantthumbnails {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        border-radius: 25px;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .1);
      }
        img {
          max-height: 175px;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          object-position: 50% 50%;
          object-fit: cover;
          padding: 1px 1px 0px 1px;
        }
        div.description{
          display: flex;
          flex-direction: column;
          height: 75px;
          justify-content: space-between;
          padding: 0px 0px 0px 15px;
        }
          h3 {
            font-size: 1.1rem;
            margin: 15px 0px 5px;
            width: 200px;
          }
          p {
            margin: 0px 0px 10px;
            width: 200px;
          }

        button {
          position: relative;
          left: 285px;
          bottom: 45px;
          width: 40px;
          height: 30px;
          padding: 0;
          border: none;
          background: none;
        }
          i {
            display: flex;
            font-size: 1.5rem;
            align-items: center;
            justify-content: center;
          }
        div.pointed i{
          color: $primary-color;
        }
        .pointer i {
          font-size: 2rem;
          position: relative;
          left: 145px;
          bottom: 55px;
          }
}

footer {
  background-color: #383838;
      padding: 20px 0px 50px 20px;
  h4 {
    font-size: 1rem;
    margin: 0px;
    padding-bottom: 10px;
    font-family: 'Shrikhand', sans-serif;
    color: white;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
    a {
      text-decoration: none;
      color: white;
      padding: 5px 0px 5px;
  }
}
